<div class="row">
    <!--
    <div class="col-sm-1">
        <div class="thumbnail">
            <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        </div>
    </div>
    -->

    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>
                    <a href="{{ url_for('users.info', username=comment.user.user_auth.username) }}">
                        {{ comment.user.first_name }} {{ comment.user.last_name }}
                    </a>
                </strong>
                <span class="text-muted">{{ comment.created|date }} at {{ comment.created|time }}</span>
            </div>
            <div class="panel-body">{{ comment.text }}</div>
        </div>
    </div>
</div>