{% extends "leads-layout.html" %}

{% block content %}
<h1>Lead: {{ lead.designer.name }}</h1>

<div style="font-weight: bold;">Owner</div>
    <span style="margin-left:25px;">
        <a href="{{ url_for('users.info', username=lead.owner.user_auth.username) }}">
            {{ lead.owner.first_name }} {{ lead.owner.last_name }}
        </a>
    </span>
<div style="font-weight:bold">Status</div>
    <span id="lead-status" style="margin-left:25px;">{{ lead.status }}</span>
<div style="font-weight:bold">Lead Contact(s)</div>
    <span style="margin-left:25px;">
    {% for contact in lead.contacts %}
    {{ contact.name }} &lt;<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>&gt;<br />
    {% endfor %}
    </span>

<h3>Comments</h3>
<div class="row">
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <textarea id="new-comment" class="form-control" placeholder="Post a comment..."></textarea><br />
                <button id="post-comment" type="submit" class="btn btn-default">Post</button>
            </div>
        </div>
    </div>
</div>

<div id="comments">
{% for comment in lead.comments|sort(attribute="created") %}
{% include "_comment.html" %}
{% endfor %}
</div>

{% endblock %}

{% block js %}
$("#lead-status").editable("{{ url_for('leads.post_status', designer=lead.designer.name) }}", {
    // data: "{'verbal':'Verbal Agreement', 'pulled': 'Pulled Out'}",
    loadurl: "{{ url_for('leads.get_transitions') }}",
    loadtype: "POST",
    loaddata: function(value, settings) {
        return {status: $("#lead-status").text()};
    },
    type: "select",
    submit: "OK"
});


$("#post-comment").click(function() {
    var newComment = $("#new-comment").val();
    $.post("{{ url_for("leads.submit_comment", designer=lead.designer.name) }}", { commentText: newComment })
        .done(function(data) {
            $("#new-comment").val("");
            $("#comments").prepend(data);
        })
        .fail(function( jqXHR, textStatus ) {
            alert("Request failed: " + textStatus);
        });
});
{% endblock %}