{% extends "leads-layout.html" %}

{% block title %}Leads{% endblock %}

{% block header %}
<h1>Leads</h1>
{% endblock %}

{% block content %}
<div style="width:98%; padding-top:25px">
    <table id="sponsor-table" class="table table-striped advanced-table" style="width: 50%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for lead in leads %}
            <tr>
                <td><a href="{{ url_for('leads.info', designer=lead.designer.name) }}">{{ lead.designer.name }}</a></td>
                <td>
                    {% if lead.owner %}
                    <a href="{{ url_for('users.info', username=lead.owner.username) }}">
                        {{ lead.owner.first_name }} {{ lead.owner.last_name }}
                    </a>
                    {% endif %}
                </td>
                <td>{{ lead.status.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}