{% extends "designers-layout.html" %}

{% block content %}
{% macro create_contact(contact) %}
<div class="entry input-group inline">
    <input class="form-control" name="names" type="text" placeholder="Name" {% if contact %}value="{{ contact.name }}"{% endif %} />
    <input class="form-control" name="emails" type="text" placeholder="Email" {% if contact %}value="{{ contact.email}}"{% endif %} />
	<span class="input-group-btn">
	    {% if contact %}
        <button class="btn btn-danger btn-remove-element" type="button"><span class="glyphicon glyphicon-minus"></span></button>
        {% else %}
        <button class="btn btn-success btn-add-element" type="button"><span class="glyphicon glyphicon-plus"></span></button>
        {% endif %}
    </span>
</div>
{% endmacro %}

<div class="control-group" id="contacts" style="width:30%">
    <div class="controls">
        <!--<form role="form" autocomplete="off" method="POST" action="{{ url_for('designers.configure', designer_name=name) }}"> -->
        <form role="form" autocomplete="off" method="POST">
            {% include "_render-form.html" %}
            
            <div id="input-container">
                {% for contact in contacts %}
                    {{ create_contact(contact) }}
                {% endfor %}
                {{ create_contact() }}
            </div>
            <br />
            <button type="submit" class="btn btn-default">Save</button>
            <a href="{% if name %}{{ url_for('designers.info', designer_name=name) }}{% else %}{{ url_for('designers.all') }}{% endif %}">
                <input type="button" class="btn btn-default" value="Cancel" />
            </a>
        </form>
    </div>
</div>
{% endblock %}