{% extends "designers-layout.html" %}

{% block content %}
<h1>{{ designer.name }}</h1>

<h2 style="display:inline;">Info</h2>
&nbsp;&nbsp;<a href="{{ url_for('designers.configure', designer_name=designer.name) }}"><img src="{{ url_for('static', filename='img/edit.png') }}" /></a>
<br style="line-height:175%" />

<span style="font-weight:bold">Designer Type</span>
    <div style="margin-left:25px;">{{ designer.type_name }}</div>
<span style="font-weight:bold">Contact(s)</span>
    <div style="margin-left:25px;">
    {% for contact in designer.contacts %}
    {{ contact.name }} &lt;<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>&gt;<br />
    {% endfor %}
    </div>
{% if designer.homepage %}
<span style="font-weight:bold">Home page</span>
    <div style="margin-left:25px;"><a href="{{ designer.homepage }}" target="_blank">{{ designer.homepage }}</a></div>
{% endif %}
<span style="font-weight:bold">Notes</span>
    <div style="margin-left:25px; width:500px; white-space:pre;">{{ designer.notes|escape }}</div>

{# I need some way to display past deals, but there won't be a past_deals attribute. #}
{% if designer.past_deals %}
<h2>Past Deals</h2>
<div style="position:relative; left:30px;">
    {% for deal in designer.past_deals|sort(attribute="year", reverse=True) %}
    <p>
        <span style="font-weight:bold">Year</span>: {{ deal.year }}<br />
        <span style="font-weight:bold">Account owner</span>: {{ deal.owner_name or "" }}<br />
        <span style="font-weight:bold">Cash</span>: ${{ deal.cash }}<br />
        <span style="font-weight:bold">Inkind</span>: ${{ deal.inkind }}<br />
    </p>
    {% endfor %}
</div>
{% endif %}

{% endblock %}