<table id="leads-table" class="table table-striped advanced-table" style="width:40%;">
    <thead>
        <tr>
            <th style="min-width:50px;">Event</th>
            <th style="min-width:50px;">Owner</th>
            <th style="min-width:50px;">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for lead in designer.leads|sort(True, attribute="event.name") %}
        <tr>
            <td><a href="{{ url_for('leads.info', designer=designer.name, event_name=lead.event.name) }}">{{ lead.event.name }}</a></td>
            <td>{{ lead.owner or "" }}</td>
            <td>{{ lead.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>