table.sortable thead {
    background-color:#bbb;
    font-weight: bold;
    cursor: default;
}

table.zebra tbody tr:nth-child(odd) {
    background-color:#fff;
}

table.zebra tbody tr:nth-child(even) {
    background-color:#eee;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}