{% macro list_group(id, values) %}
<div class="list-group" id="{{ list_group_id(id) }}">
    {% for value in values %}
    <button type="button" class="btn list-group-item {{ modal_trigger_class(id) }}" value="{{ value.key or value }}" data-dismiss="modal">
        {{ value }}
    </button>
    {% endfor %}
</div>
{% endmacro %}

{# Component JS #}
{# Turn a list_group into a select control (like checkboxes) by disabling the
dismiss modal option and adding toggling #}
{% macro select_group(id) %}
$(".{{ modal_trigger_class(id) }}").removeData("dismiss");
$(".{{ modal_trigger_class(id) }}").removeAttr("data-dismiss");
$(".{{ modal_trigger_class(id) }}").addClass("btn");
$("#{{ list_group_id(id) }}").children(":button").click(function() {
    if ($(this).hasClass("active")) {
        $(this).removeClass("active");
    } else {
        $(this).addClass("active");
    }
});
{% endmacro %}

{# Turns a list_group into a radio group #}
{% macro radio_group(id) %}
{{ select_group(id)|safe }}
$(".{{ modal_trigger_class(id) }}").click(function() {
    $("{{ active_selector(id) }}").not(this).removeClass("active");
});
{% endmacro %}


{# Component IDs #}
{%- macro list_group_id(id) -%}
{{ id }}-list-group
{%- endmacro -%}

{%- macro modal_trigger_class(id) -%}
new-{{ id }}
{%- endmacro -%}

{%- macro active_selector(id) -%}
.{{ modal_trigger_class(id) }}.active
{%- endmacro -%}