<table id="deals-table" class="table table-striped advanced-table" style="width:40%;">
    <thead>
        <tr>
            <th style="min-width:50px;">Designer</th>
            <th style="min-width:50px;">Event</th>
            <th style="min-width:50px;">Level</th>
        </tr>
    </thead>
    <tbody>
        {% for deal in user.deals|sort(True, attribute="event.name") %}
        <tr>
            <td><a href="{{ url_for('designers.info', designer_name=deal.designer.name) }}">{{ deal.designer.name }}</a></td>
            <td><a href="{{ url_for('deals.info', designer=deal.designer.name, event_name=deal.event.name) }}">{{ deal.event.name }}</a></td>
            <td>{{ deal.level }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>