{% extends "benefit-tracker-layout.html" %}

{% block content %}
<div style="width:98%; padding-top:50px">
    <table id="sponsor-table" class="table table-striped advanced-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for exhibitor in exhibitors %}
            <tr>
                <td><a href="{{ url_for('benefit_tracker.info', designer=exhibitor.designer.name) }}">{{ exhibitor.designer.name }}</a></td>
                <td>{{ exhibitor.level }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}